body{
    margin:0 0 0 0;
    padding:0 0 0 0;
    padding-bottom: 1000px;
}

/* navigation bar styles */
/* set the camera img a bit higher */
.nav-div{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:100px;
    padding-top:120px;
    margin-bottom: 50px;
}

.nav-div img {
    padding-bottom: 60px;
    /* margin-bottom:30px; */
}

.nav-div p{
    cursor:pointer;
    color:white;
    font-size: 22px;
    font-weight: bold;
}

.background-img{
    background-image: url("images/batman.jpg");
    height: 800px;
}   

.moto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

.moto h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;

}

.moto p{
    font-weight: bold;
    margin-top:0;
    font-size: 21px;
    line-height: 12px;
    margin-bottom: 40px;
}

.btn-get_started{
    font-size:22px;
    color:white;
    background-color: rgb(78, 146, 88);
    font-weight: bolder;
    border-radius:12px;
    padding:12px 22px;
    border:none;
    transition: 0.15s;
}

.moto button:hover{
    background-color:rgb(176, 65, 65);
}

/* container second */
.container-second{
    background-image: url("images/background-nezuko.jpeg");
    background-size:cover;
    background-position-x: 50%;
    background-position-y:50%;
    background-repeat: no-repeat;
    height: 690px;
    width: 1900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 120px; */
}

.container-second div{
    /* border:0.5px solid rgb(170, 167, 167); */
    color:rgb(78, 146, 88);
    padding:33px;
    width:480px;
    margin-top:50px;
    margin-left:300px;
    align-items: center;
}

.container-second div h1{
    line-height: 33px;

}

.container-second div p{
    font-size: 26px;
    line-height: 39px;
}

.container-second div button{
    margin-left:100px;
    margin-right: auto;
}

/* section 3 */
.container-third{
    /* background-color: darkblue; */
    /* border:1px solid red;*/
    margin-top:22px;
    font-size: 22px;
    font-weight: bold;
    height:680px;
    display: flex;
    /* border:0.5px solid gray; */
}

.container-third img{
    margin-left:170px;
    width:900px;
    /* list-style-image: -webkit-image-set(); */
    
}
.section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:600px;
    margin-left: 300px;
    /* border:1px solid red; */
}

.section-3 {
    color:rgb(78, 146, 88);
    padding:33px;
    width:480px;
    margin-top:50px;
    margin-left:300px;
    align-items: center;
}

/* fourth container */
.container-fourth{
    display: flex;
    height: 490px;
    margin-top:11px;
    gap:100px;
    justify-content: center;
    align-items: center;
    background-color:rgb(248, 247, 244);
    /* border:1px solid red; */

}

.container-fourth-desc{
    display: flex;
    flex-direction: column;
    width:230px;
    margin-left: 150px;
    padding:20px;
    color:green;
    font-weight: bold;
    /* border:1px solid red; */
}

.container-fourth-desc h3{
    font-size:25px;
}
.container-fourth-desc p{
    font-size:18px;
}

.container-fourth-images img{
    height:350px;
    padding:30px;
}

/* fourth container */
.fifth-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:900px;
    width: 1900px;
    background-image: url("images/subscribe.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.fifth-container__box p{
    color:white;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
}

.fifth-container__box input{
    width:420px;
    height: 55px;
    border-radius: 2px;
    border:none;
}

.fifth-container__box input::placeholder{
    font-size: 22px;
    color:rgb(173, 163, 163);
    font-weight: bold;
}

.fifth-container__box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width:600px; */
    line-height: 12px;
    font-weight: 800;
    padding:20px;
}

/* sixth container */
.sixth-container{
    background-color:rgb(248, 247, 244) ;
    font-size: large;
    height: 400px;
    color:green;
    /* border:1px solid red; */
}


.sixth-container-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:700px;
    padding:30px;
    margin-left: 520px;
    /* line-height: 25px; */
    /* margin-top:20px; */
    /* border:1px solid black; */
}

.sixth-container-child h1{
    font-weight: 800;
    margin-bottom: 18px;
}

.sixth-container-child p{
    margin-top: 0;
    font-size: 28px;
}

.sixth-container-buttons button{
    padding:18px;
    border-radius:2px;
    border:none;
    background-color:  rgb(78, 146, 88);
}